{% extends 'base.html.twig' %}

{% block title %}LocaJeu - {{ jeu.nom }}
{% endblock %}
{# 'title' à ne pas confondre avec le 'h1'#}

{% block body %}
	<div class="container mt-5">
		{# bootstrap mt-5 = margin-top- #}
		<h1 class="text-center ">Le jeu {{ jeu.nom }}</h1>
		<p> Genre : {{ jeu.genre.nom | lower }} - popularité: {{ jeu.genre.popularite }}</p>{# | lower = permet d'avoir le nom du genre en minuscule #}
		<p> Description : {{ jeu.description  }}</p>




	</div>
{% endblock %}
